html{
  background: #EFE4E0;
}

body{
  width: 1440px;
  background-color: #EFE4E0;
}

nav ul{
  font-family: 'Vollkorn-Regular';
  display: flex;
  color: #1E1E1E;
  font-size: 20px;
  margin-left: 139px;
  margin-top: 24px;
}

nav li{
  padding-right: 178px;
}

.vollkorn1{
  font-family: 'Vollkorn-SemiBoldItalic';
  margin-top: 500px;
  margin-left: 347px;
  width: Fixed (732px);
  height: Fixed (120px);
  color: #1E1E1E;
  font-size: 159px; 
  letter-spacing: 23.85px;
}

.year{
  font-family: 'Vollkorn-Regular';
  margin-top: 93px;
  margin-left: 672px;
  color: #1E1E1E;
  font-family: Vollkorn;
  font-size: 36px; 
  line-height: 120px; /* 333.333% */
  letter-spacing: 5.4px;
}

.pomol{
  font-family: 'Vollkorn-Regular';
  margin-left: 530px;
  font-size: 36px; 
}