* {
  box-sizing: border-box;
}

:root {
  background: #EFE4E0;
  scroll-behavior: smooth;
}

body {
  width: 1440px;
  background: #EFE4E0;
  display: block;
  margin: 0 auto;
  position: relative;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
background: transparent; 
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #252525;
}

a{
  color: #252525;
  text-decoration: none;
}

a:hover{
  color: #353232;
}

a:active{
  color: #918682;
}

h2{
  font-family: 'Vollkorn-Medium';
  font-size: 128px;
  color: #252525;
  text-align: center;
}

nav {
  height: 78px;
}

nav ul {
  font-family: 'Vollkorn-Regular';
  display: flex;
  color: #252525;
  font-size: 20px;
  margin-left: 139px;
}

nav li {
  margin-right: 178px;
  margin-top: 29px;
}

h1 {
  font-family: 'Vollkorn-ExtraBoldItalic';
  font-size: 180px;
  padding: 0 241px;
  margin-top: -5px;
  color: #EFE4E0;
}

.firstsectiontext {
  padding: 222px 254px 0;
  font-size: 89px;
  font-family: 'Vollkorn-Medium';
  color: #EFE4E0;
} 

.firstsectiontext2 {
  font-size: 24px;
  color: #EFE4E0;
  font-family: 'Vollkorn-Regular';
  padding: 0 0 0 452px;
  margin-top: -19.5px;
}

.firstsection {
  height: 729px;
  margin-top: 76px;
  background-image: url(../images/mainbox.svg);
  background-position: top 0 left 90px;
  background-repeat: no-repeat;
  background-size: 1260px 729px;
}

.menusection {
  height: 1202px;
  margin-top: 102px;
  display: flex;
  position: relative;
  margin-left: 214px;
}
.darkmenu{
  position: absolute;
}

.lightmenu {
  position: absolute; 
  padding: 117px 31px; 
}

.menuvollk {
  font-family: 'Vollkorn-Black';
  font-size: 128px;
  rotate: 7.56deg;
  color: #EFE4E0;
  position: absolute; 
  padding: 129px 0 0 233.8px;
}

.menumenu {
  font-family: 'Vollkorn-Black';
  font-size: 160px;
  color: #252525;
  rotate: -7.21deg;
  position: absolute;
  padding: 243.5px 0 0 189px;

}

.menuh1, .menuh2, .menuh3 {
  font-family: 'Vollkorn-SemiBold';
  font-size: 60px;
  color: #252525;
  rotate: -7.21deg;
}

.menuh1 {
  position: absolute;
  padding: 491.5px 0 0 197px;
}

.menuh2 {
  position: absolute;
  padding: 471.5px 0 0 499px;
}

.menuh3 {
  position: absolute;
  padding: 756px 0 0 516.5px;
}

.menup1, .menup2, .menup3 {
  color: #252525;
  rotate: -7.21deg;
  font-family: 'Vollkorn-Regular';
  font-size: 40px;
}

.menup1 {
  position: absolute;
  padding: 561.5px 0 0 229.5px;
  line-height: 56px;
}

.menup2 {
  position: absolute;
  padding: 537.5px 0 0 510px;
  line-height: 56px;
}

.menup3 {
  position: absolute;
  padding: 819.6px 0 0 531.2px;
  line-height: 56px;
}

.historysection {
  height: 1292px;
  margin-top: 99px;
  background-image: url(../images/histbox.svg);
  background-position: top 0 left 213px;
  background-repeat: no-repeat;
  background-size: 1013px 1292px;
  padding: 108px 0 0 212px;
  display: flex;
}

.histh {
  margin-top: 202px;
  margin-left: -725px;
}

.historytag {
  position: relative;
  height: 285px;
  width: 256.3px; 
  margin-top: -76px;
  margin-left: 720px;
}

.histp1 {
  position: absolute;
  color: #252525;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  line-height: 45px;  
  margin: 22.5px 0 0 -246px;
  text-align: center;
}

.histblock {
  display: flex;
  flex-direction: column;
  margin: 355px 0 0 -556px;
}

.solidhorline1, .solidhorline2, .solidhorline3 {
  width: 632px;
  height: 3px;
}

.histp2, .histp3, .histp4 {
  font-family: 'Vollkorn-Regular';
  font-size: 32px;
  line-height: 32px;
  color: #252525;
}

.histp2 {
  padding: 60.5px 0px 57px 40.5px;
}

.histp3 {
  padding: 60.5px 0 43px 40.5px;
}

.histp4 {
  padding: 0px 0 44px 40.5px;
}

.featuresection {
  height: 2792px;
  margin-top: 100px;
}

.fh {
  padding: 25px 0 95px 0;
}

.features {
  margin-left: 112px;
  display: grid;
  grid-template-columns: 497px 497px;
  grid-template-rows: 567px 600px 600px 567px;
  gap: 70px 223px;
}

.featuresp {
  font-size: 36px;
  font-family: 'Vollkorn-Regular';
  color: #252525;
}

.block1 {
  background-image: url(../images/cupstroke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 497px 567px;
}
.block1 img {
  margin: 112px 0 0 149px;
}
.block1 p {
  margin: 32px 0 0 -1px;
  text-align: center;
  line-height: 50px;
} 

.block2 img {
  margin: 124px 0 0px 91px;
}
.block2 p {
  margin: 54px 0 0 24px;
}

.block3 img {
  margin: 113px 0 0 138px;
}
.block3 p {
  margin: 76px 0 0 44px;
}

.block4 {
  background-image: url(../images/boxstroke.svg);
  background-repeat: no-repeat;
  background-size: 471px 600px;
  background-position: 12px 0;
}
.block4 img {
  margin: 113px 0 0 117px;
}
.block4 p {
  margin: 16px 0 0 30px;
}

.block5 {
  background-image: url(../images/boxstroke2.svg);
  background-position: 12.5px 0;
  background-repeat: no-repeat;
  background-size: 471px 600px;
}
.block5 img {
  margin: 174px 0 0 126px;
}
.block5 p {
  margin: 33px 0 0 -1px;
  text-align: center;
} 

.block6 img {
  margin: 82px 0 0 121px;
}
.block6 p {
  margin: 41px 0 0 64px;
}

.block7 img {
  margin: 131px 0 0 44px;
}
.block7 p {
  margin: 60px 0 0 -2px;
  text-align: center;
}

.block8 {
  background-image: url(../images/cupstroke.svg);
  background-repeat: no-repeat;
  background-size: 497px 567px;
}
.block8 img {
  margin: 112px 0 0 80px;
}
.block8 p {
  margin: 59px 0 0 67px;
}

.langsection {
  height: 918px;
  margin-top: 99px;
  background-image: url(../images/langbox.svg);
  background-position: 138px 0px;
  background-repeat: no-repeat;
  background-size: 1164.13px 917.87px;
  color: #EFE4E0;
  font-family: 'Vollkorn-Regular';
}

.langtext {
  display: flex;
}

.ltextblock1 {
  display: flex;
  flex-direction: column;
  margin: 301px 0 0 163px;
}

.langp11 {
  font-size: 20px;
  padding: 0 0 44px 0;
}

.langp12 {
  font-size: 32px;
  padding: 0 0 0 0;
  line-height: 38px;
}

.ltextblock2 {
  display: flex;
  flex-direction: column;
  margin: 307px 0 0 146px;
}

.langp21 {
  font-size: 10px;
  padding: 0 0 19px 6.5px;
}

.langp22, .langp23, .langp24, .langp25, .langp26 {
  font-size: 8px;
  line-height: 11px;
}
.langp22 {
  padding: 0 0 19px 0.5px;
}
.langp23 {
  padding: 0 0 8px 0.5px;
}
.langp24 {
  padding: 0 0 25px 0.5px;
}
.langp25 {
  padding: 0 0 6px 0.5px;
}
.langp26 {
  padding: 0 0 0 0.5px;
}

.ltextblock3 {
  display: flex;
  flex-direction: column;
  margin: 299.5px 0 0 59.5px;
}

.langp31 {
  font-size: 20px;
  padding: 0 0 0 0;
}
.langp32 {
  font-size: 32px;
  line-height: 38px;
  padding: 46px 0 0 0;
}

.ltextblock4 {
  display: flex;
  flex-direction: column;
  margin: 301px 0 0 185.5px;
}
.langp42, .langp43, .langp44, .langp45, .langp46 {
  font-size: 8px;
  line-height: 11px;
}

.langp41 {
  font-size: 10px;
  padding: 5px 0 0 9px;
  line-height: 11px;
}
.langp42 {
  padding: 19px 0 0 0;
}
.langp43 {
  padding: 19px 0 0 0;
}
.langp44 {
  padding: 21px 0 0 0;
}
.langp45 {
  padding: 24px 0 0 0;
}
.langp46 {
  padding: 7px 0 0 0;
}

.stylesection {
  height: 1115px;
  margin-top: 100px;
  background-image: url(../images/styleimg.svg);
  background-size: 1236px 1114px;
  background-repeat: no-repeat;
  background-position: center;
}

.stylediv1, .stylediv2 p {
  font-size: 48px;
}

.stylesection h2 {
  padding-top: 63px;
}

.stylediv1 {
  display: flex;
  padding: 154px 0 0 153px;
}

.stylediv2 {
  display: flex;
  padding: 137px 0 0 153px;
}

.stylediv11 {
  display: flex;
  flex-direction: column;
}

.stylediv21 {
  display: flex;
  flex-direction: column;
}

.stylediv22 {
  display: flex;
  flex-direction: column;
}

.stylep1 {
  font-family: 'Vollkorn-Regular';
  padding: 2px 0 0 146px;
}
.stylep2 {
  font-family: 'Vollkorn-Medium';
  padding: 69px 0 0 146px;
}
.stylep3 {
  font-family: 'Vollkorn-SemiBold';
  padding: 69px 0 0 146px;
}
.stylep4 {
  font-family: 'Vollkorn-Italic';
  padding: 2px 0 0 141px;
}
.stylep5 {
  font-family: 'Vollkorn-MediumItalic';
  padding: 69px 0 0 141px;
}
.stylep6 {
  font-family: 'Vollkorn-SemiBoldItalic';
  padding: 69px 0 0 141px;
}
.stylep7 {
  font-family: 'Vollkorn-Bold';
  padding: 2px 0 0 146px;
}
.stylep8 {
  font-family: 'Vollkorn-ExtraBold';
  padding: 69px 0 0 146px;
}
.stylep9 {
  font-family: 'Vollkorn-Black';
  padding: 69px 0 0 146px;
}
.stylep10 {
  font-family: 'Vollkorn-BoldItalic';
  padding: 2px 0 0 119px;
}
.stylep11 {
  font-family: 'Vollkorn-ExtraBoldItalic';
  padding: 69px 0 0 119px;
}
.stylep12 {
  font-family: 'Vollkorn-BlackItalic';
  padding: 69px 0 0 119px;
}

.glyphsection { 
  height: 1896px;
  margin-top: 125px;
}

.glyphblock1 {
  height: 351px;
  color: #EFE4E0;
  margin-top: 95px;
  background-image: url(../images/glyphtag1.svg);
  background-size: 1164px 351px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.gblock1 {
  width: 333px;
  padding: 85px 0 0 170px;
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-rows: 65px 65px;
  gap: 67px 35px;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  justify-items: center;
  align-items: center;
}

.g1line1 {
  margin: 45px 65px 0 199px;
  width: 2px;
  height: 262px;
}

.g1line2 {
  margin: 45px 0 0 66px;
  width: 2px;
  height: 262px;
}

.gtag1 {
  font-family: 'Vollkorn-Regular';
}

.gtag1p1 {
  font-size: 64px;
  margin: 95px 2px 3px 3px;
}

.gtag1p2 {
  font-size: 36px;
  text-align: center;
}

.gblock2 {
  width: 333px;
  padding-top: 85px;
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-rows: 65px 65px;
  gap: 67px 35px;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  justify-items: center;
  align-items: center;
}

.glyphblock2 {
  height: 806px;
  margin-top: 70px;
  padding: 240px 0 0 136px;
  background-image: url(../images/cupsolid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 710.23px 806px;
}

.glyphblock21 {
  width: 1164px;
  height: 351px;
  background-image: url(../images/glyphtag2.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: #252525;
  display: flex;
}

.g2block1 {
  width: 333px;
  padding: 85px 0 0 20px;
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-rows: 65px 65px;
  gap: 67px 35px;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  justify-items: center;
  align-items: center;
}

.g2line1 {
  margin: 44px 0 0 61px;
  width: 2px;
  height: 262px;
}

.g2line2 {
  margin: 44px 0 0 67px;
  width: 2px;
  height: 262px;
}

.gtag2 {
  font-family:  'Vollkorn-Regular';
}

.gtag2p1 {
  font-size: 64px;
  margin: 94px 0 0 69px;
}

.gtag2p2 {
  font-size: 36px;
  text-align: center;
  margin: 6px 0 0 70px;
  line-height: 31px;
}

.g2block2 {
  width: 333px;
  padding-top: 85px;
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-rows: 65px 65px;
  gap: 67px 35px;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  justify-items: center;
  align-items: center;
}

.glyphblock3 {
  height: 351px;
  color: #EFE4E0;
  margin-top: 70px;
  background-image: url(../images/glyphtag1.svg);
  background-size: 1164px 351px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.g3block1 {
  width: 333px;
  padding: 85px 0 0 170px;
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-rows: 65px 65px;
  gap: 67px 35px;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  justify-items: center;
  align-items: center;
}

.g3line1 {
  margin: 45px 65px 0 199px;
  width: 2px;
  height: 262px;
}

.g3line2 {
  margin: 45px 0 0 69px;
  width: 2px;
  height: 262px;
}

.gtag3 {
  font-family: 'Vollkorn-Regular';
}

.gtag3p1 {
  font-size: 64px;
  margin: 91px 0px 5px 2px;
}

.gtag3p2 {
  font-size: 36px;
  padding-left: 21px;
}

.g3block2 {
  width: 333px;
  padding-top: 85px;
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-rows: 65px 65px;
  gap: 67px 35px;
  font-family: 'Vollkorn-Regular';
  font-size: 64px;
  justify-items: center;
  align-items: center;
}

.licensesection {
  height: 2477px;
  margin-top: 100px;
}

.license1 {
  height: 1068px;
  margin-top: 70px;
  padding-left: 135px;
  display: flex;
  color: #EFE4E0;
}
.license1 p {
  font-family: 'Vollkorn-Regular';
  font-size: 32px;
  line-height: 37px;
}

.license1 h4 {
  font-family: 'Vollkorn-ExtraBold';
  font-size: 48px;
}

.liblock1 {
  width: 517px;
  height: 981px;
  margin-top: 112px;
  background-image: url(../images/jar.svg);
  background-repeat: no-repeat;
  text-align: center;
}

.lih {
  margin: 327px 0 45px 0;
}

.li1p2 {
  margin-top: 646px;
}

.liblock2 {
  width: 587px;
  height: 1068px;
  margin: 25px 0 0 70px;
  background-image: url(../images/licup.svg);
  background-repeat: no-repeat;
  text-align: center;
}

.license2 {
  width: 1440px;
  height: 1091px; 
  margin-top: 95px;
  padding: 52px 0 0 425px;
  background-image: url(../images/receipt.svg);
  background-size: 654px 1091px;
  background-position: center;
  background-repeat: no-repeat;
  color: #EFE4E0;
  display: flex;
  flex-direction: column ;
}

.license2 h3 {
  font-family: 'Vollkorn-SemiBold';
  font-size: 86px;
  padding: 0 0 28px 85px;
}

.license2 p {
  font-family: 'Vollkorn-Regular';
  font-size: 30px;
  line-height: 48px;
}

.li2block1 {
  display: flex;
}

.li2block1p1 {
  padding: 77px 276px 65px 0;
}

.li2block1p2 {
  padding-top: 77px;
}

.liline2 {
  margin-top: 75px;
}

.liline3 {
  padding-top: 76px;
}

.li2block1 p, .li2block2 p {
  font-family: 'Vollkorn-Medium';
  font-size: 45px;
}

.li2block2 {
  display: flex;
}

.li2block2p1 {
  padding: 72px 250px 44px 0;
}

.li2block2p2 {
  padding-top: 71px;
}

.license2 img {
  padding-left: 8px;
  width: 580px;
}

footer {
  height: 185px;
  background-color: #252525;
  margin-top: 75px;
}

.footercontent {
  width: 1440px;
  height: 185px;
  font-family: 'Vollkorn-Regular';
  font-size: 36px;
  color: #EFE4E0;
  display: flex;
  justify-content: space-around;
  padding-top: 76px;
}